SAPHIRA_ENV=VALUE
SAPHIRA_JWT_SECRET_KEY=VALUE
SAPHIRA_ALLOWED_HOSTS=VALUE

DJANGO_SUPERUSER_USER=VALUE
DJANGO_SUPERUSER_EMAIL=VALUE
DJANGO_SUPERUSER_PASSWORD=VALUE

POSTGRES_HOST=
POSTGRES_PORT=5432
POSTGRES_DB=VALUE
POSTGRES_USER=VALUE
POSTGRES_PASSWORD=VALUE

FIREBASE_TYPE=VALUE
FIREBASE_PROJECT_ID=VALUE
FIREBASE_PRIVATE_KEY_ID=VALUE
FIREBASE_PRIVATE_KEY=VALUE
FIREBASE_CLIENT_EMAIL=VALUE
FIREBASE_CLIENT_ID=VALUE
FIREBASE_AUTH_URI=VALUE
FIREBASE_TOKEN_URI=VALUE
FIREBASE_AUTH_PROVIDER_X509_CERT_URL=VALUE
FIREBASE_CLIENT_X509_CERT_URL=VALUE
FIREBASE_UNIVERSE_DOMAIN=VALUE
